@import "./base.css";
@import "./tool.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  all: unset;
}

body {
  line-height: 1;
  transition: all 0.5s;
  font-size: var(--fontSize);
  color: var(--primary-color);
}


