@import url("./global.css");
/* @import "index_mobile.css"; */

body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  background-image: url("/assets/bg-diamante.svg");
  background-attachment: fixed;
  /* background-position: 50%; */
  /* background-size: max(1000px, 100%); */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1;

  .headeContent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;

    .logo {
      height: 100%;
      img {
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  .menuFloatContent {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    backdrop-filter: blur(10px);
    transition: all 0.5s;

    &.active {
      transform: translate(-50%, 100%);
    }
  }
}
.main-content {
  width: clamp(300px, 100%, 1500px);
  margin: 0 auto;
  #gridContainer {
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 20px;
    justify-content: center;
    grid-auto-flow: dense;

    .gameItem {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      overflow: hidden;
      transition: all 0s ease-in-out;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(110%) contrast(110%) saturate(110%);
        transition: all 0.3s ease-in-out;
      }

      &:hover.unit-1,
      &:hover.unit-2,
      &:hover.unit2-row,
      &:hover.unit2-column,
      &:hover.unit3-row,
      &:hover.unit3-column {
        transform: scale(1.1);
        box-shadow: 4px 4px 4px var(--color-background-dark);

        img {
          transform: scale(2);
          animation: myscale 5s ease-in-out;
        }
      }
    }

    .unit-1 {
      grid-row: span 1;
      grid-column: span 1;
    }

    .unit-2 {
      grid-row: span 2;
      grid-column: span 2;
    }

    .unit2-row {
      grid-row: span 2;
      grid-column: span 1;
    }

    .unit2-column {
      grid-row: span 1;
      grid-column: span 2;
    }

    .unit3-row {
      grid-row: span 3;
      grid-column: span 2;
    }

    .unit3-column {
      grid-row: span 2;
      grid-column: span 3;
    }
  }

  .site-info-area {
    max-width: 1500px;
    margin: 20px auto;
    background: var(--color-background-light);
    border-radius: 15px;
    padding: 15px;
    line-height: 1.5;
  }

  .shengming {
    max-width: 1500px;
    margin: 20px auto;
    background: var(--color-background-light);
    border-radius: 15px;
    padding: 15px;
    line-height: 1.5;

    .policy {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: initial;
      }
    }
  }
}
