
  @media screen and (max-width: 500px) {
    #searchPage .font1 {
      font-size: 1rem;
      font-weight: 300;
    }
    #searchPage .font2 {
      font-size: 1rem;
      font-weight: 400;
    }
    #searchPage .font3 {
      font-size: 1rem;
      font-weight: 500;
    }
    #searchPage .font4 {
      font-size: 1.2rem;
      font-weight: 600;
    }
    #searchPage .font5 {
      font-size: 4rem;
      font-weight: 800;
    }
    #searchPage .searchFloatContent {
      grid-auto-rows: 100px;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
      #searchPage .searchFloatContent .search_gameItem{
        width: 100%;
        height: 100%;
      }
  }
