@import url("./main.css");
@import "play_mobile.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background1);
  background-attachment: fixed;
  line-height: 1;
  transition: 0.5s;
  max-width: 1500px;
  margin: 0 auto;
  /* padding: 0 10px; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.playPage {
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.playPage .introduce {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 10px;
    scroll-snap-type: x mandatory;
    justify-content: center;
  }

.playPage .introduce::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

.playPage .introduce .gameBanner {
      scroll-snap-align: center;
      scroll-snap-stop: always;
      position: relative;
      width: 600px;
      height: 600px;
      border-radius: 10px;
      overflow: hidden;
    }

.playPage .introduce .gameBanner .bgdimg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        /* 毛玻璃效果 */
        filter: blur(25px);
      }

.playPage .introduce .gameBanner .floatTier {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      }

.playPage .introduce .gameBanner .floatTier .topPlayContent {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 50px;
        }

.playPage .introduce .gameBanner .floatTier .topPlayContent img {
            width: 100px;
            height: 100px;
            transform: scale(1);
            transition: 0.3s;
          }

.playPage .introduce .gameBanner .floatTier .topPlayContent img:hover {
              transform: scale(1.1);
            }

.playPage .introduce .gameBanner .floatTier .footerContent {
          background: var(--color-background-light);
          display: flex;
          flex-direction: column;
          padding: 10px;
          gap: 10px;
        }

.playPage .introduce .gameBanner .floatTier .footerContent .row1 {
            display: flex;
            gap: 10px;
            align-items: center;
            /* 省略号 */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
          }

.playPage .introduce .gameBanner .floatTier .footerContent .row1 img {
              width: 50px;
              border-radius: 5px;
            }

.playPage .introduce .gameBanner .floatTier .footerContent .row2 {
            display: flex;
            justify-content: space-between;
          }

.playPage .introduce .gameBanner .floatTier .footerContent .row2 .gameMsg {
              display: flex;
              align-items: center;
              gap: 10px;
            }

.playPage .introduce .gameBanner .floatTier .footerContent .row2 .gameMsg img {
                width: 30px;
              }

.playPage .introduce .message {
      flex-grow: 1;
      flex-shrink: 0;
      scroll-snap-align: center;
      scroll-snap-stop: always;
    }

.playPage .introduce .message .bgdContent {
        height: 100%;
        padding: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
        border-radius: 5px;
        gap: 20px;
      }

.playPage .introduce .message .bgdContent .title {
          font-weight: bold;
          color: var(--color-font1);
          text-shadow: 0 10px 20px #fff;
        }

.playPage .introduce .message .bgdContent .category {
          letter-spacing: 1px;
          color: var(--color-background-light);
          background-color: var(--color-background2);
          padding: 10px;
          border-radius: 50px;
          text-transform: uppercase;
        }

.playPage .introduce .message .bgdContent .tags {
          max-width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          letter-spacing: 1px;
          color: var(--color-font2);
          padding: 10px;
          border-radius: 5px;
          text-transform: uppercase;
        }

.playPage .introduce .message .bgdContent .pubDate {
          max-width: 80%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: var(--color-font2);
          padding: 10px;
          border-radius: 5px;
          text-transform: uppercase;
        }

.playPage .playButton {
    margin: 0 auto;
    cursor: pointer;
    background-color: white;
    color: var(--color-background-dark);
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 2px;
  }

.playPage .playButton:hover {
      background-color: var(--color-background-dark);
      color: white;
    }

.playPage .description {
    width: calc(100% - 20px);
    margin: 0 auto;
    height: 140px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 10px 20px;
    line-height: 2rem;
    color: var(--color-font1);
  }

.playPage .SimilarGame {
    width: calc(100% - 20px);
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-gap: 20px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 10px 20px;
  }

.playPage .SimilarGame .gameItem {
      grid-row: span 1;
      grid-column: span 1;
    }

.playPage .SimilarGame .gameItem img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

.playPage .SimilarGame .gameItem img:hover {
          transform: scale(1.1);
        }

.playPage .HomeButton {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    border-radius: 0 0 100% 0;
    color: var(--color-background-dark);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.playPage .HomeButton span {
      transform: translate(-10px, -10px);
    }

.playPage .HomeButton {
    /* 禁止复制 */
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }

.playPage .HomeButton:hover {
      background-color: var(--color-background-dark);
      color: white;
    }

.playPage .HomeButton img{
      width: 40px;
      height: 40px;
      -o-object-fit: cover;
         object-fit: cover;
      transform: translate(-5px, -5px);
    }
