@media screen and (max-width: 500px) {
  .font1 {
    font-size: 1rem;
    font-weight: 300;
  }
  .font2 {
    font-size: 0.6rem;
    font-weight: 400;
  }
  .font3 {
    font-size: 1rem;
    font-weight: 500;
  }
  .font4 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .font5 {
    font-size: 4rem;
    font-weight: 800;
  }
    #indexPage .header {
      height: 60px;
    }
      #indexPage .header .headeContent {
        padding: 14px;
      }
        #indexPage .header .headeContent #search_name {
          padding: 0 20px;
        }

    #indexPage .searchFloatContent {
      padding: 0 10px;
      grid-auto-rows: calc(((100vw - 50px) /4) + 30px);
      grid-auto-rows: calc(calc(calc(100vw - 50px) /4) + 30px);
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
        #indexPage .searchFloatContent .search_gameItem .gameTitle {
          width: 20vw;
        }




    
    #indexPage #gridContainer {
      padding-top: 80px;
      grid-auto-rows: 100px;
      grid-template-columns: repeat(auto-fill, 100px);
    }
    #indexPage .site-info-area {
      margin: 20px;
    }
    #indexPage .shengming {
      margin: 20px;
    }
}

